.carousel-item img{
 
    background-size: cover;
}

@media (min-width: 992px) { 
    .carousel-item img{ 
    margin-top: -250px;
    
   }
}

 
.navbarFooter{
    z-index: 1;
}

.team{    
    background-size: cover;
    background-repeat: no-repeat;
}


/* start home */
.containerVersus{
    background-color: #DA0037;
    padding: 2.5rem;
}
/* end home */

/* start services */
.berita{
    background-color: #DA0037  ;
 
}
.berita h1{
    color: #eaeaea;
}

.cardBerita{
    background-color: #eaeaea;;
}

.beritaUnggulan{
    width: 5%;
    height: 5px;
    border-radius: 10px;
    background-color: #a8a1a1;
    margin: auto;
}